* {
	box-sizing: border-box;
	font-family:Oxygen,Helvetica, Times,sans-serif ;

}

h1 {
	text-align: center;
	position: relative;
	float: left;
	margin:auto;
	color: white;
	padding-top: 3px;
	box-shadow: 1px #fff;

}

body {
	background-color: #F5F1F1;
	
}

section {
	background-color: gray;
}

header {
	position: relative;
	width:100%;
	background-color: #DA5656;
	height: 50px;
	overflow: hidden;

}

.hidden {
	visibility: hidden;
}

.button {
	background-color: orange;
	color:white;
	
	height:30px;
}

#lgout {
	float: right;
	bottom:20px;
	position: absolute;
	top:10px;
	right: 5px;
}

.error {
	width: 40%;
	height: 50%;
	margin: 20% auto;

}

.signupform, .loginform {
	width: 20%;
}

.loginform {
margin-top: 40px;
}

h1 {
	text-align:center;
} 

table.cboard {
	border-collapse: collapse;
}

img.piece {
	position: relative;
	margin: auto;
}

img.piece:hover {
	box-shadow: 5px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

tr.line {
	
	height:60px;
	width:60px ;
	
}

td.black {
	background-color:#757575;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
	
}

td.white {
	background-color:white;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
}

.start {	
	position:relative;
	clear: left;
	text-align:center;
}

div.board {
	position:relative;
	padding: auto;
	margin:auto;
	
	width:50%;
	height: 50%;
	max-width: 480px;
	max-height:480px;
}

#turn {
	background-color: gray;
	color: white;
	padding: 10px 20px;
}


button.button {
	position: initial;
	background-color: #DA5656;
	display: inline-block;
	font-size: 1em;
	border-radius: 8px;
	color: rgba(255, 255, 255,1);
	transition-duration: 0.2s;
}

button.button:hover {
	background-color: white;
	color:#00A8A8;
}

div.left {
	width: 20%;
	height:500px;
	float: left;
	background-color: #DA5656;
	border-radius: 10px;
}

div.right {
	position: absolute;
	right: 0;
	top:0;
	width: 20%;
	height: 500px;
	float:right;
	background-color: #DA5656;
	border-radius: 10px;
}

div.container {
	width: 100%;
	height: 480px;
	position: relative;
}

.right h3 {
	color: white;
	text-align: center;
	width: 100%;
	background-color: orange;
}

.chatContainer {
	margin-top: 10px;
	height: 70%;
	width:100%;
	background-color: orange;
	padding:20px;
}

.chatList {
	margin: 0 auto;
}

.chatMember {
	width: 100%;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	font-size: 0.8em;
	overflow: hidden;
	background-color: #F5F1F1;
	color:#DA5656;
	padding-left:7px;
	padding-top: 5px;

	margin-top: 5px;
}

.chatMember:hover {
	box-shadow: 0px 0px 10px 1px black;
	cursor: pointer;
	z-index: 1;
}

#leftboard {
	background-color: #FFA500;
	height: 41%;
	width: 90%;
	margin: 10% auto 15%;
	overflow-y:scroll; 
}

#moveboard {
	background-color: #FFA500;
	height: 41%;
	width: 90%;
	margin: 10% auto 15%;
	overflow-y:scroll;
}

.chatBoxContainer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.chatholder {
	height: 20px;
	background-color: green;
}



.chat {
	position: relative;
	float: right;
	bottom: 0;
	border: 2px solid black;
	width: 250px;
	margin:0 20px;
	background-color: #F9FAFA;
	
}

.chat .top {
	width: 100%;
	height: 20px;
	border: 1px solid #00A8A8;
	z-index: 2;
	background-color: #00A8A8;
	position: relative;

}

.chat .chatMessages {
	height: 250px;
}
.chat .top:hover {
	cursor: pointer;
}

.chat .top span {
	padding-left: 5px;
	font-style: bold;
	font-size: 0.9em;
	color:white;
}

.chatinput {
	background-color: white;
	width: 95%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	color:black;
	opacity: 1;
}

.inviteButton {
	position: absolute;
	width: 100%;
	background-color: #F5F1F1;
	color:#DA5656;
}

.inviteButton:hover {
	color: #F5F1F1;
	background-color: #DA5656;
	transition-duration: 0.4s;
	cursor: pointer;
}

.chat .top .chatClose {
	float: right;
}
.chat .top .chatClose:hover {
	background-color: white;
	color:#00A8A8;
}

#broadCastContainer {
	margin: 30px;
}

.broadCastItem {
	background-color: orange;
	color: white;
	width: 200px;
	height: 200px;
	font-size: 0.8em;
	float: left;
	margin: 20px;
	padding:7px;
}

.broadCastItem:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px 1px black; ;
}



#headlistcontainer {
	position: absolute;
	color: white;
	height: 100%;	
	top: 5px;
	margin-left: 10px;
}

.headlist {	
	background-color: #DA5656;
	padding: 10px;
	margin:auto;	
	color: white;
}

.headlist:hover {
	background-color: white;
	color:#DA5656 ;
	cursor: pointer;

}

a {
	text-decoration: none;
}

#heading {
	color: white;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	margin-left:100px;
}

#whitemove {
	width:20%;
}

#blackmove {
	width:20%;
}