* {
	box-sizing: border-box;

}

h1 {
	text-align: center;
	position: relative;
	margin:auto;
	color: white;
	padding-top: 3px;
	box-shadow: 1px #fff;
}

body {
	background-color: #F5F1F1;
	font-family:Oxygen,Helvetica, Times,sans-serif ;

}

section {
	background-color: gray;
}

header {
	position: relative;
	width:100%;
	background-color: #DA5656;
	height: 50px;
	overflow: hidden;

}

.hidden {
	visibility: hidden;
}

.button {
	background-color: orange;
	color:white;
	
	height:30px;
}

#lgout {
	float: right;
	bottom:20px;
	position: absolute;
	top:10px;
	right: 5px;
}

.error {
	width: 40%;
	height: 50%;
	margin: 20% auto;

}

.signupform, .loginform {
	width: 20%;
}

.loginform {
margin-top: 40px;
}