h1 {
	text-align:center;
}

table.cboard {
	border-collapse: collapse;
}

img.piece {
	position: relative;
	margin: auto;
}

img.piece:hover {
	box-shadow: 5px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

tr.line {
	
	height:60px;
	width:60px ;
	
}

td.black {
	background-color:#757575;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
	
}

td.white {
	background-color:white;
	height:60px;
	width:60px;
	margin:none ;
	position: relative;
}

.start {	
	position:relative;
	clear: left;
	text-align:center;
}

div.board {
	position:relative;
	padding: auto;
	margin:auto;
	
	width:50%;
	height: 50%;
	max-width: 480px;
	max-height:480px;
}

#turn {
	background-color: gray;
	color: white;
	padding: 10px 20px;
}


button.button {
	position: initial;
	background-color: #00A8A8;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 10px;
	color: rgba(255, 255, 255,1);
	transition-duration: 0.4s;
}

button.button:hover {
	background-color: white;
	color:#00A8A8;
}

div.left {
	width: 20%;
	height:500px;
	float: left;
	background-color: #F3F3F3;
}

div.right {
	width: 10%;
	height: 500px;
	float:right;
	background-color: blue;
}

div.container {
	width: 100%;
	position: relative;
}